/* Fonts */

@font-face {
    font-family: inter-regular;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: inter-subtitles;
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-titles;
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(fonts/Inter-Bold.ttf);
}

p {
    font-size: 18px;
    color: black;
}

strong {
    font-family: inter-bold;
}

body {
    font-family: inter-regular;
    padding-top: 100px;
    overscroll-behavior: none;
    width: 100%;
}

h1 {
    font-size: 40px;
    font-family: inter-titles;
}

h2 {
    font-family: inter-titles;
    font-size: 40px;
}

body .fixed-header #menu-items a {
    text-decoration: none;
    color: #4F4F4F;
}

a:visited {
    color: 212529;
}

a:hover {
    color: #235789;
}

h4 {
    font-family: inter-subtitles;
    color: black;
    font-size: 35px;
}

/* Header */

.fixed-header {
    position: fixed;
    top: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    left: 0;
    width: 100%;
}

.fixed-header.slide-down {
    transform: translateY(-100%);
}

.fixed-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 0 0;

}

#menu-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    font-family: inter-subtitles;
}

.whatsapp {
    width: 30px;
    padding-right: 10px;
}

#logo-header h4 {
    color: #235789;
}

.active-menu-item {
    font-weight: 600;
    border-bottom: solid #235789 2px;
    text-align: center;
}

.contact-menu-item {
    border: none;
    border-radius: 1rem;
    background-color: #235789;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease;
}

body .fixed-header #menu-items .contact-menu-item a {
    color: white;
}

.contact-menu-item:hover {
    background-color: #69b2fb;
    border: none;
}

#menu-items li {
    margin: 0 0.25rem;
    padding: 1rem;
}

.items:hover {
    border-bottom: solid #235789 2px;
}

.items {
    position: relative;
    text-align: center;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    list-style-type: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: none;
}

/* Hero */

#hero {
    height:60vh;
    background: linear-gradient(to bottom, #d1e2f3, white);
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-content h5 {
    font-size: 23px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20rem;
}

#hero h5 {
    margin: 1rem 0;
}

.blue-arrow-container {
    display: flex;
    justify-content: center;
}

.blue-arrow {
    width: 5rem;
    transform: rotate(90deg);
}

.logo {
    width: 100px;
    margin: 0.5rem;
}

#hero h1 {
    font-size: 60px;
    margin: 1rem 0;
}

#hero h3 {
    font-size: 20px;
    font-family: inter-subtitles;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
}

.contact-button {
    background-color: #235789;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    font: inter-titles;
    font-size: 25px;
    transition: background-color 0.5s ease;
}

.contact-button a {
    color: white;
}

.contact-button:hover {
    background-color: cornflowerblue;
    color: black;
    border: none;
}

.features-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1rem;
}

.features-list li {
    margin-right: 1rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.blue {
    color: cornflowerblue;
}

.flip-container {
    perspective: 500px;
}

.flip-text {
    display: inline-block;
    transform-style: preserve-3d;
    animation: flip-animation 6s infinite;
    }

    .phrase {
    display: block;
    backface-visibility: hidden;
    }

    @keyframes flip-animation {
    0%, 100% {
        transform: rotateX(0deg);
    }
    20%, 80% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

/* Who Are We */

#who-are-we {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#hero-about h1 {
    font-size: 50px;
}

.video {
    width: 60%;
    height: 60%;
    margin-bottom: 2rem;
}

.image-who-are-we {
    height: 25rem;
    grid-area: image;
}

.container {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#challenge {
    text-align: center;
}

.description {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: "description image";
    justify-items: center;
    
}

.description-paragraph {
    margin: 0 3rem 0 0;
    grid-area: description;
}

.comparison {
    display: grid;
    grid-template-areas: "nonl l";
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
}

.red {
    color: crimson;
    font-family: inter-titles;
}

h6 {
    font-family: inter-subtitles;
    font-size: 23px;
}

.non-localized {
    list-style-type: none;
    grid-area: nonl;
    text-align: left;
    color: black;
    background-color: white;
    box-shadow: 0 0 30px rgba(35, 87, 137, 0.8);
    padding: 1rem;
    font-size: 18px;
    min-width: 25rem;
}

.localized {
    list-style-type: none;
    grid-area: l;
    text-align: left;
    color: black;
    padding: 1rem;
    box-shadow: 0 0 30px rgba(35, 87, 137, 0.8);
    font-size: 18px;
    min-width: 25rem;
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrow-down {
    width: 5%;
}

.cta-challenge {
    display: flex;
    justify-content: center;
}

.contact-button-light {
    border: none;
    font-size: 20px;
    margin-top: 1rem;
}

#make-a-difference {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "community difference";
}

.community {
    grid-area: community;
    width: 70%;
}

.difference-description {
    grid-area: difference;
}

#join-us {
    text-align: center;
}


/* Our clients section */

.our-clients-headline {
    text-align: center;
    padding-bottom: 3rem;
    font-weight: 1000;
    font-size: 24px;
}

.logos img {
    width: 40%;
    text-align: center;
    margin: auto;
}

.logos {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-bottom: 3rem;
}


/* Services section */

.services {
    display: grid;
    grid-template-areas: "s1 s2 s3"
        "s4 s5 s6";
    padding: 4rem 0 4rem 0;
    color: white;
}

.services p {
    font-family: inter-regular;
    color: white;
    font-size: 17px;
}

.services h5 {
    font-weight: 1000;
}

#services {
    background-color: #235789;
}

#s1 {
    grid-area: s1;
}

#s2 {
    grid-area: s2;
}

#s3 {
    grid-area: s3;
}

#s4 {
    grid-area: s4;
}

#s5 {
    grid-area: s5;
}

#s6 {
    grid-area: s6;
}

#services img {
    width: 23px;
    height: 23px;
}

.services a {
    color: white;
}

.icon-title-container {
    display: flex;
    align-content: center;
    margin: 1rem;
}

.service-title {
    margin: 0 1rem 0 1rem;
}

h1 h2 h3 h4 h5 h6 {
    margin-bottom: 0 !important;
}

.service-square {
    margin: 1rem;
}




/* Testimonials */

#testimonials {
    text-align: center;
}

.testimonials-description {
    text-align: center;
}

.title-testimonials {
    text-align: center;
    margin: 2rem 0 2rem 0;
}


.testimonials {
    display: grid;
    grid-template-areas: "one-t two-t"
    "three-t four-t";
    align-items: center;
    justify-items: center;
}

.testimonial-card {
    padding: 2rem;
    max-width: 30rem;
}

.test-text {
    font-size: 16px;
}

#one-t {
    grid-area: one-t;
}

#two-t {
    grid-area: two-t;
}

#three-t {
    grid-area: three-t;
}

#four-t {
    grid-area: four-t;
}

/* CTA */

#cta {
    background-image: url(./images/pexels-shawn-stutzman-1010496.jpg);
    color: white;
    padding: 5% 30% 5% 30%;
}

.cta-headline {
    color: white;
}

.cta h4 {
    color: white!important;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0.5rem 0;
}

#sourcelanguage {
    height: 3rem;
}

#targetlanguage {
    height: 3rem;
}

textarea {
    height: 10rem;
}

.submit input {
    background-color: #235789;
    color: white;
    font-size: 16px;
}

#submit-button:hover {
    background-color: #69b2fb;
}

#submit-button {
    width: 50%;
    color: white;
    background-color: #235789;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.submit input:hover {
    background-color: #69b2fb;
}

.cta-text {
    font-family: inter-regular;
    color: white;
    font-size: 16px;
}

.attachment {
    width: 30rem;
}

#modal {
    display: none;
    color: black;
}

#modal-body {
    color: black;
}

/* Success*/ 

.return {
    padding: 1rem 3rem;
    border: 1px #235789 solid;
    border-radius: 1rem;
}

.return a {
    color: black;
}

.return:hover {
    background-color: #235789;
    color: white;
}

/* Footer */

footer {
    display: grid;
    grid-template-areas: "logo info sitemap";
    grid-template-columns: repeat(1fr);
    align-items: center;
    padding: 4rem 0 4rem 0;
    color: #000000;
}

#logo-footer {
    grid-area: logo;
}

#logo-footer p {
    margin-bottom: 0.5rem;
}

#logo-footer h4 {
    color: #235789;
}

.socialmedia {
    width: 35px;
}

#info {
    grid-area: info;
}

.footer-navigation {
    grid-area: sitemap;
    display: flex;
    justify-content: center;
}

footer li a {
    color: #000000;
}

footer li {
    list-style-type: none;
}

footer li img {
    width: 20px;
    margin: 0 1rem 0 1rem;
}

footer ul {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

/*Success page */

.thankyou {
    background-image: url(./images/pexels-shawn-stutzman-1010496.jpg); 
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

.thankyou p {
    color: white;
}

/* Services page */

#hero-services {
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #d1e2f3, white);
}

#hero-services h1 {
    font-size: 50px;
}

#hero-services p {
    font-size: 20px;
    font-family: inter-regular;
    margin-bottom: 2rem;
}

.service-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.service-container h2 {
    font-family: inter-titles;
    font-size: 40px;
    color: #000000;
}

.specialized-container h2 {
    font-family: inter-titles;
    font-size: 40px;
    color: #000000;
}

.specialized-translation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialized-container {
    flex: 1;
}

.specialized-image-container {
    flex: 1;
}

.image-service {
    width: 70%;
}


.container-description {
    flex: 1;
}

.image-container {
    flex: 1;
}

.document-container h2 {
    font-family: inter-titles;
    font-size: 40px;
    color: #000000;
}

.localization-container .contact-button{
    margin-bottom: 2rem;
}

.list-of-languages {
    display: grid;
    color: #000000;
    grid-template-columns: repeat(3, 1fr);
    
    margin-bottom: 3rem;
    list-style-type: none;
}

.list-of-languages-container h2 {
    font-family: inter-titles;
    font-size: 40px;
    color: #000000;
}

.list-group-item {
    background-color: #8dc6fe;
    margin: 2px;
    color: black;
}

.workflow h2 {
    font-family: inter-titles;
    font-size: 40px;
    color: white;
}

.localization-image {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.localization-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.list-of-languages-container {
    text-align: center;

}

.workflow {
    background-color: black;
    color: white;
}

.container-workflow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    row-gap: 3rem;
}

.main-img {
    width: 100%;
}

.workflow-mobile {
    display: none;
}

.desktop-publishing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.desktop-publishing h2 {
    margin-bottom: 3rem;
}

.desktop-publishing p {
    margin: 0 5rem 0 5rem;
}

.desktop-publishing img {
    width: 50%;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}


.text-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    opacity: 1;
    margin-bottom: 3rem;
}

.text-box {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    width: 50%;
}

/* Audiovisual Translation */

.hero-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
}

.hero-video-mobile {
    display: none;
}

.hide-background {
    opacity: 0;
}

.hero-video p {
    font-size: 18px;
}

.audiov {
    margin: 3rem 5rem 3rem 5rem;
}

.headline {
    text-align: center;
}

/* Localization */

#hero-localization {
    background-image: url(./images/pexels-stein-egil-liland-3374210.jpg);
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.localization-description {
    flex: 1;
}

.localization-headline {
    text-align: center;
    margin: 3rem 0 3rem 0;
}

#description-localization {
    margin-bottom: 3rem;
}

.local img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About us */

.body-about {
    overflow-x: hidden;
}

#hero-about {
    background: linear-gradient(to bottom, #d1e2f3, white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

#hero-about p{
    margin-bottom: 2rem;
}

.hover {
    font-size: 14px;
    color: gray;
}

.list-of-values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
}

.list-of-values li {
    list-style-type: none;
    padding: 5rem;
    border: #235789 solid 1px;
    display: flex;
    justify-content: center;
    color: white;
    height: 25vh;
    align-items: center;
}

.exp {
    background-image: url(./images/laptop-3196481_1280.jpg);
    background-size: cover;
}

.exp:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}

.qual {
    background-image: url(./images/pexels-fauxels-3184339.jpg);
    background-size: cover;
}

.qual:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}


.clients {
    background-image: url(./images/pexels-kindel-media-7688336.jpg);
    background-size: cover;
}

.clients:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}

.reach {
    background-image: url(./images/plans-1867745_1280.jpg);
    background-size: cover;
}

.reach:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}

.tech {
    background-image: url(./images/programming-593312_1280.jpg);
    background-size: cover;
}

.tech:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}

.imp {
    background-image: url(./images/teamwork-3309829_1280.jpg);
    background-size: cover;
}

.imp:hover {
    background-image: url(./images/black.png);
    transition: 1s ease-in;
}

.aboutus-headline {
    text-align: center;
    color: #000000;
    margin-top: 1rem;
}

.accordion {
    margin-bottom: 2rem;
}

.main-content {
    padding-right: 10rem;
}

/* Gaming Localization */

#hero-gaming {
    background-image: url(./images/pexels-soumil-kumar-735911.jpg);
    height: 60vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gaming {
    display: grid;
    grid-template-areas: "first image" "second image";
    justify-content: center;
    align-items: center;
}

.gaming-subsection {
    grid-area: first;
}

.image-layout {
    grid-area: image;
}

.gaming-subsection {
    grid-area: second;
}



.joystick {
    width: 90%;
}

.gaming-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gaming-list li::before {content: counter(li); color: #235789;
    display: inline-block; width: 1.5em;
    margin-left: -1.2em}

.image-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gaming-second {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 3rem;
}


.gaming-headline {
    text-align: left;
    margin: 1rem 0;
}

.gaming-paragraph {
    margin-bottom: 3rem;
}

.gaming-third {
    background-color: #235789;
    color: white;
}

.step-by-step {
    width: 40%;
}

.steps-container {
    display: flex;
    justify-content: center;
}

/* Blog */

#hero-blog {
    background-image: url(images/Background-hero-blog.png);
    padding: 1.5rem 0 0 0;
}

.blog-headline {
    margin-top: 0.5rem;
    color: white;
}

.container-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    width: calc(33.33% - 20px); /* Adjust the width to fit 3 cards per row with some margin */
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  
  .content {
    white-space: pre-wrap;
  }

.blog-style {
    display: flex;
    justify-content: center;
    color: #000000;
    
}



#blog-container h2 {
    color: #000000;
    font-size: 32px;
}

.body-blog .content {
    color: #000000;
}

.card h2 a {
    color: #000000;
}

.card h2 a:hover {
    color: #235789;
}

/*Article */

#article-container {
    color: #000000;
}

#article-container h2 {
    color: #000000;
    font-size: 35px;
}

#article-container img {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* Privacy policy */

.privpolicy {
    padding: 5% 15%;
}

.headlinepp {
    padding-bottom: 5rem;
    text-align: center;
    color: #000000;
}

.privpolicy h4 {
    font-size: 20px;
}

.privpolicy li {
    color: #000000;
}

/* Responsiveness */

@media (max-width: 521px) {
    #article-container img {
        width: 97%;
        margin: 1rem 0;
    }
}

/* Header */

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }



    .mobile-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    #menu-items {
        display: none;
    }

    .card {
        width: calc(100%);
        margin-left: 0;
    }

    .blue-arrow {
        margin-top: 2rem;
    }

    .navigation {
        display: block;
        width: 100%;
        display: flex;
    }

    /* General */

    .description {
        grid-template-columns: 100%;
        grid-template-areas: "description""image";
    }



    .p-menu1 {
        height: 100%;
    }





    /* Menu */
    /* Menu hamburger */

    .hamburger {
        position: relative;
        display: block;
        width: 70px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar,
    .hamburger:after,
    .hamburger:before {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color: black;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: translate(1px, 14px) rotate(-45deg);
    }

    .hamburger.is-active:after {
        transform: translate(0px, -8px) rotate(45deg);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .fixed-header {
        padding: 0;
    }
    

    .mobile-nav {
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: white;
        padding-top: 120px;
        transition: 0.4s;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }



    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 200px;
        color: white;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: #235789;
        color: white;
    }

    .mobile-nav #dropdown-menu-mobile a {
        display: block;
        width: 100%;
        max-width: 200px;
        color: white;
        margin: 0 auto 16px;
        text-align: center;
        padding: 12px 16px;
        background-color: black;
        color: white;
    }

    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav {
        transform: translateX(-100%);
    }

    .mobile-nav.is-active {
        transform: translateX(0%);
    }

    /* Home */

    .image-who-are-we {
        height: 12rem;
    }

    .video {
        width: 95%;
        height: 95%;
    }

    .video-container {
        margin-top: 2rem;
    }

    #hero {
        height: 72vh;
    }


    #hero h3 {
        margin: 0.5rem;
        padding: 1rem;
    }

    .description {
        flex-direction: column;
    }

    .services {
        grid-template-areas: "s1 s2"
            "s3 s4""s5 s6";
        padding: 8rem 0 8rem 0;
    }

    .logos {
        grid-template-columns: repeat(2, 1fr);
    }

    #cta {
        padding: 2rem;
    }

    .attachment {
        width: 50%;
    }

    .main-content {
        padding-right: 0;
    }

    .workflow-mobile {
        display: block;
        width: 80%;
    }

    .main-img {
        display: none;
    }

    #hero-localization {
        height: 90vh;
    }

    #hero-gaming {
        height: 80vh;
        margin-bottom: 1rem;
    }

    .gaming-headline {
        margin: 1rem;
    }

    .gaming-paragraph {
        margin-bottom: 1rem;
    }

    .hero-video video {
        display: none;
    }

    .hero-video {
        display: none;
    }

    .hero-video-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./images/pexels-tima-miroshnichenko-7991319.jpg);
        color: white;
        text-align: center;
        height: 90vh;
        background-size: cover;
    }

    .hero-video-mobile p {
        padding: 1rem;
    }

    .localization-headline {
        margin: 1rem 0;
    }

    footer {
        grid-template-areas: "logo""info""sitemap";
    }

    #hero-services {
        height: 90vh;
    }

    #hero-services h3 {
        margin: 1rem;
    }

    .col-sm-10 {
        margin-left: 1rem!important;
    }

    .main-content {
        margin: 0;
    }

    .list-of-languages {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-of-values li {
        padding: 0.5rem;
    }

    .text-boxes {
        flex-direction: column;
    }

    .text-box {
        width: 100%;
        margin: 0;
    }

    .desktop-publishing p {
        margin: 1rem;
    }

    .desktop-publishing h2 {
        margin-bottom: 0;
        text-align: center;
    }

    #hero-services {
        height: auto;
    }

    #hero-services h1 {
        font-size: 55px;
    }

    #hero-services h2 {
        font-size: 15px;
    }

    #hero-services p {
        font-size: 16px;
    }

    .image-container {
        display: none;
    }

    .container-workflow h2 {
        text-align: center;
    }

    .container-workflow {
        padding-top: 1rem;
        padding-bottom: 1rem;
        row-gap: 1rem;
    }

    .arcade {
        display: none;
    }

    .step-by-step {
        width: 90%;
    }

    .gaming {
        grid-template-columns: repeat(1,1fr);
    }

    .gaming-second {
        grid-template-columns: repeat(1,1fr);
    }

    .logo {
        width: 80px;
    }

    .hero-video {
        height: 50vh;
    }

    .audiov {
        margin: 1rem;
    }

    h1 {
        font-size: 50px;
        margin: 1rem!important;
    }

    h2 {
        font-size: 26px !important;
    }

    .image-container {
        margin-top: 1rem;
    }

    .specialized-translation h2 {
        margin: 1rem;
    }

    h3 {
        font-size: 18px!important;
    }

    .form-row {
        display: flex;
        flex-direction: column;
    }

    #hero-gaming p {
        font-size: 16px;
    }

    #aboutus h2 {
        margin: 1rem;
    }

    #hero-about p {
        font-size: 16px;
    }

    .hero-content h5 {
        font-size: 18px;
    }

    #hero-about {
        height: auto;
        margin-bottom: 0;
    }

    .features {
        font-size: 12px;
    }

    .list-of-values {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media (max-width:994px) {
    .contact-menu-item {
        display: none;
    }
}

@media (max-width:768px) {

    .testimonials {
        grid-template-columns: 100%;
        grid-template-areas: "one-t" 
        "two-t" 
        "three-t" 
        "four-t";
    }

    .logos img {
        margin: 2rem;
    }
    
    .logos {
        justify-items: center;
        align-items: center;
    }

    #cta {
        background-color: #000000;
    }

    .footer-navigation {
        justify-content: start;
    }

    #logo-footer {
        padding-bottom: 0.5rem;
        border-bottom: #4F4F4F 0.5px solid;
    }

    #info {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: #4F4F4F 0.5px solid;
    }

    .footer-navigation {
        padding-top: 0.5rem;
    }
}

@media (max-width: 593px) {

    #hero-blog h1 {
        font-size: 35px;
    }
    .privpolicy {
        padding: 5% 5%;
    }
    .services {
        grid-template-areas: "s1""s2""s3""s4""s5""s6";
        padding: 1rem;
    }

    #hero {
        height: 78vh;
    }

    #hero h1 {
        font-size: 32px;
    }

    #challenge {
        text-align: left;
    }

    #join-us {
        text-align: left;
    }

    .footer-navigation {
        justify-content: start;
    }

    footer {
        padding: 1rem;
    }

    #who-are-we {
        height: 100%;
    }

    #testimonials-carrousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height: 90vh;
    }

    .title-who-are-we {
        margin-top: 1rem;
        padding: 1rem;
    }

    .testimonial-item {
        height: 50vh;
    }

    .description-paragraph {
        margin: 0;
    }

    .list-of-languages {
        grid-template-columns: repeat(1, 1fr);
    }



}

@media (min-width: 1080px) {
    #hero h3 {
        margin: 0 20rem;
    }
}

.show {
    position: sticky;
}



@media (max-width: 767px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
}

@media (min-width: 769px) {
    #cta {
        padding: 5% 15%;
    }
}

@media (min-width: 1448px) {
    #cta {
        padding: 5% 25%;
    }
}

@media (min-width: 1483px) {
    .main-content {
        margin-right: 11rem;
        margin-left: 5rem;
    }
}

@media (max-width: 992px) {
    .description {
        grid-template-columns: 100%;
        grid-template-areas: "description""image";
    }

    .image-who-are-we {
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;
    }

    .comparison {
        grid-template-areas: "nonl" "l";
    }

    .localized {
        min-width: 15rem;
    }

    .non-localized {
        min-width: 15rem;
    }

    #make-a-difference {
        grid-template-columns: 100%;
        grid-template-areas: "difference" "community";
    }

    .community-container {
        display: flex;
        justify-content: center;
    }

    .hero-content {
        margin-top: 6rem;
        
    }

    .blue-arrow {
        margin-top: 6rem;
    }
}

/* Newsletter */

/* LOADER */
.ml-form-embedSubmitLoad {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.g-recaptcha {
    transform: scale(1);
    -webkit-transform: scale(1);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ml-form-embedSubmitLoad:after {
    content: " ";
    display: block;
    width: 11px;
    height: 11px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #ffffff #ffffff #ffffff transparent;
    animation: ml-form-embedSubmitLoad 1.2s linear infinite;
}

@keyframes ml-form-embedSubmitLoad {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#mlb2-12608025.ml-form-embedContainer {
    box-sizing: border-box;
    display: table;
    margin: 0 auto;
    position: static;
    width: 100% !important;
}

#mlb2-12608025.ml-form-embedContainer h4,
#mlb2-12608025.ml-form-embedContainer p,
#mlb2-12608025.ml-form-embedContainer span,
#mlb2-12608025.ml-form-embedContainer button {
    text-transform: none !important;
    letter-spacing: normal !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper {
    background-color: #f6f6f6;

    border-width: 0px;
    border-color: transparent;
    border-radius: 4px;
    border-style: solid;
    box-sizing: border-box;
    display: inline-block !important;
    margin: 0;
    padding: 0;
    position: relative;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper.embedPopup,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper.embedDefault {
    width: 400px;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
    max-width: 400px;
    width: 100%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-align-left {
    text-align: left;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-align-center {
    text-align: center;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-align-default {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-align-right {
    text-align: right;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedHeader img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: auto;
    margin: 0 auto !important;
    max-width: 100%;
    width: undefinedpx;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
    padding: 20px 20px 0 20px;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
    padding-bottom: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
    text-align: left;
    margin: 0 0 20px 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
    color: #000000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: left;
    word-break: break-word;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 10px 0;
    text-align: left;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ul,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ul,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol ol,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol ol {
    list-style-type: lower-alpha;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol ol ol,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol ol ol {
    list-style-type: lower-roman;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p a,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p a {
    color: #000000;
    text-decoration: underline;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group {
    text-align: left !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group label {
    margin-bottom: 5px;
    color: #333333;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    ;
    display: inline-block;
    line-height: 20px;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p:last-child,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p:last-child {
    margin: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody form {
    margin: 0;
    width: 100%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow {
    margin: 0 0 20px 0;
    width: 100%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow {
    float: left;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
    margin: 0;
    padding: 0 0 20px 0;
    width: 100%;
    height: auto;
    float: left;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow {
    margin: 0 0 10px 0;
    width: 100%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-last-item {
    margin: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-formfieldHorizintal {
    margin: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-color: #cccccc;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    height: auto;
    line-height: 21px !important;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-webkit-input-placeholder,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-webkit-input-placeholder {
    color: #333333;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-moz-placeholder,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-moz-placeholder {
    color: #333333;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-ms-input-placeholder,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-ms-input-placeholder {
    color: #333333;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-moz-placeholder,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-moz-placeholder {
    color: #333333;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow textarea,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow textarea {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-color: #cccccc;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    height: auto;
    line-height: 21px !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 10px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before {
    border-color: #cccccc !important;
    background-color: #ffffff !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input.custom-control-input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-top: 5px;
    margin-left: -1.5rem;
    overflow: visible;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before {
    border-radius: 4px !important;
}


#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type=checkbox]:checked~.label-description::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox input[type=checkbox]:checked~.label-description::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type=checkbox]:checked~.label-description::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input:checked~.custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input:checked~.custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-input:checked~.custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox input[type=checkbox]:checked~.label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type=checkbox]:checked~.label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type=checkbox]:checked~.label-description::before {
    border-color: #000000 !important;
    background-color: #000000 !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::after {
    top: 2px;
    box-sizing: border-box;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after {
    top: 0px !important;
    box-sizing: border-box !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after {
    top: 0px !important;
    box-sizing: border-box !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::after {
    top: 0px !important;
    box-sizing: border-box !important;
    position: absolute;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before {
    top: 0px !important;
    box-sizing: border-box !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-control-label::before {
    position: absolute;
    top: 4px;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #ffffff;
    border: #adb5bd solid 1px;
    border-radius: 50%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-control-label::after {
    position: absolute;
    top: 2px !important;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before {
    position: absolute;
    top: 4px;
    left: -1.5rem;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color: #ffffff;
    border: #adb5bd solid 1px;
    border-radius: 50%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after {
    position: absolute;
    top: 0px !important;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after {
    position: absolute;
    top: 0px !important;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-radio .custom-control-label::after {
    background: no-repeat 50%/50% 50%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-checkbox .custom-control-label::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::after,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after {
    background: no-repeat 50%/50% 50%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-control,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-input,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-sizing: border-box;
    padding: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label {
    color: #000000;
    font-size: 12px !important;
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
    font-style: normal;
    font-weight: 400;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-select,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-select {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-color: #cccccc;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 28px 10px 12px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    background: url('https://assets.mlcdn.com/ml/images/default/dropdown.svg') no-repeat right .75rem center/8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
    height: auto;
    width: 100%;
    float: left;
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
    width: 70%;
    float: left;
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal {
    width: 30%;
    float: left;
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal.labelsOn {
    padding-top: 25px;
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
    background-color: #ffffff;
    color: #333333;
    border-color: #cccccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: initial;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
    background-color: #235789 !important;
    border-color: #235789;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: none;
    color: #ffffff !important;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    font-weight: 700;
    line-height: 20px;
    margin: 0 !important;
    padding: 10px !important;
    width: 100%;
    height: auto;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
    background-color: #69b2fb !important;
    border-color: #69b2fb !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-top: 5px;
    margin-left: -1.5rem;
    overflow: visible;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description {
    color: #000000;
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label {
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    min-height: 24px;
    padding-left: 24px;

}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label a {
    color: #000000;
    text-decoration: underline;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p {
    color: #000000 !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 0 !important;
    margin: 0 5px 0 0 !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:last-child {
    margin: 0;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
    background-color: #235789 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #ffffff !important;
    cursor: pointer;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 21px !important;
    height: auto;
    padding: 10px !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.loading {
    display: none;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover {
    background-color: #69b2fb !important;
}

.ml-subscribe-close {
    width: 30px;
    height: 30px;
    background: url('https://assets.mlcdn.com/ml/images/default/modal_close.png') no-repeat;
    background-size: 30px;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
    position: absolute;
    top: 0;
    right: 0;
}

.ml-error input,
.ml-error textarea,
.ml-error select {
    border-color: red !important;
}

.ml-error .custom-checkbox-radio-list {
    border: 1px solid red !important;
    border-radius: 4px;
    padding: 10px;
}

.ml-error .label-description,
.ml-error .label-description p,
.ml-error .label-description p a,
.ml-error label:first-child {
    color: #ff0000 !important;
}

#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p,
#mlb2-12608025.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p:first-letter {
    color: #ff0000 !important;
}

@media only screen and (max-width: 400px) {

    .ml-form-embedWrapper.embedDefault,
    .ml-form-embedWrapper.embedPopup {
        width: 100% !important;
    }

    .ml-form-formContent.horozintalForm {
        float: left !important;
    }

    .ml-form-formContent.horozintalForm .ml-form-horizontalRow {
        height: auto !important;
        width: 100% !important;
        float: left !important;
    }

    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
        width: 100% !important;
    }

    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal>div {
        padding-right: 0px !important;
        padding-bottom: 10px;
    }

    .ml-form-formContent.horozintalForm .ml-button-horizontal {
        width: 100% !important;
    }

    .ml-form-formContent.horozintalForm .ml-button-horizontal.labelsOn {
        padding-top: 0px !important;
    }

}